*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    
}
#home{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    padding: 1vw 1vw;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 17px 35px;
    color: #fff;

}

nav a{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
}

header{
    margin-top: 135px;

}

header h1{
    margin-left: 30px;
    opacity: .6;
    line-height: 0.8;
    font-family: "General Sans Medium";
    font-size: 10.5vw;
    text-transform:uppercase;
    font-weight: 550;
}
header #secondh1{
    margin-left: 200px;
}

.blocktext{
    width: fit-content;
}
.blocktext h5{
    margin-top: 20px;
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
}
#secondaryHeading{
    margin-top: 100px;
    padding-right: 30px;
    
}
#secondaryHeading h5{
    text-transform: uppercase;
    margin-top: 10px;
    text-align: right;
    font-size: 1vw;
    line-height: 1.5;
}

footer{
    margin-top: 30vw;
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
}

footer #iconset{
    display: flex;
    gap: 5px;
    padding-right: 30px;
}

footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    color: black;
    font-weight: 900;
    
}

article{
    padding-right: 10vw;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 3vw;
    border-top: 1px solid #888;
    padding-right: 0;

}
.elem h1{
    text-transform: uppercase;
    font-size: 5vw;
    opacity: .7;
}
.lastelem{
    border-bottom: 1px solid #888;
}
.elem h5{
    font-size: 1vw;
}

.elem img{
    display: none;
    position: absolute;
    z-index: 999;
    height: 140%;
}

#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:90px;
    width: 100%;
    padding: 10vw 10vw;
    padding-left: 40vw;
    color: white;
    background-color: black;
    
}

#textabout{
    width: 35rem;

}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 1.15vw;

}

#about img{
    margin-top: -30px;
    width: 270px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
#subscribe{
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;

}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
    
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}
#footer-left{}

#footer-right{}











@media (max-width: 600px){

    nav{
        padding: 6vw 4vw;
        position: fixed;
    }
    nav a{
        color: aliceblue;
        font-size: 4vw;
        font-weight: 500;
        
    }
    nav h4{
        font-size: 4vw;
    }
    header{
        margin-top: 30vw;
        margin-left: 1vw;
    }

    header h1{
        margin-left: 0;
        line-height: 0.25;
        font-size: 17vw;
        text-transform:uppercase;
        font-weight: 500;
        padding: 5vw 5vw;
    }
    header #secondh1{
        margin-left: 3vw;
    }
    .blocktext h5{
        margin-right: 5.5vw;
        margin-top: 3vw;
        font-size: 3vw;
    }
    #secondaryHeading{
        margin-top: 120px;
        padding-right: 3vw;
        
    }
    #secondaryHeading h5{
        font-size: 3.07692vw;
        line-height: 1.5;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 3%;
        padding: 0 3vw;
    }
    
    footer a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 3.07692vw;
        width: 110px;
    }
    footer #iconset{
        display: none;

    }
    
    footer .circle{
        display: none;
        
        
    }

    article{
        padding-top: 200px;
        padding-right: 5vw;
        padding-left: 5vw;
        
    }
    
    .elem{
        
        padding: 2vw 1vw;

       
    
    }
    .elem h1{
        
        font-size: 12.3vw;
    }
    .elem h5{
        font-size: 2.5vw;
    }
    #about{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding: 5vw 5vw;
        align-items: baseline;
        
    }
    
    #about img{
        margin-top: 0;
        width: 55vw;
        
    }
    #about p{
        font-size: 5.4vw;
        width: 99%;
    }

    #textabout{
        margin-top: -35px;
        width: 21rem;
    }
    #textabout p{
        font-size: 4vw;

    }
    #subscribe{
        color: #fff;
        padding: 20px 30px;
        background-color: black;
    
    }
    #subscribe h5{
        text-transform: uppercase;
        opacity: .6;
        font-size: 2.9vw;
        
    }
    #subscribe h3{
        text-transform: uppercase;
        font-size: 3vw;
        margin-top: 10px;
    }

}